In [93]:
#問題文に含めない
import pandas as pd
df = pd.read_excel("SSDSE-E-2023.xlsx")
df.head()

,SSDSE-E-2023,Prefecture,A1101,A1102,A1301,A1302,A1303,A1700,A4101,A4103,...,I5103,I6100,I6200,I6300,J2503,J2506,L3221,L322101,L322102,L322109
0,NaN,年度,2021,2021,2021,2021,2021,2020,2020,2019,...,2020,2020,2020,2020,2020,2020,2021,2021,2021,2021
1,地域コード,都道府県,総人口,日本人人口,15歳未満人口,15～64歳人口,65歳以上人口,外国人人口,出生数,合計特殊出生率,...,歯科診療所数,医師数,歯科医師数,薬剤師数,保育所等数,保育所等在所児数,消費支出（二人以上の世帯）,食料費（二人以上の世帯）,住居費（二人以上の世帯）,教養娯楽費（二人以上の世帯）
2,R00000,全国,125502000,122780000,14784000,74504000,36214000,2402460,840835,1.36,...,67874,339623,107443,321982,29474,2624335,279024,75761,18329,24545
3,R01000,北海道,5183000,5147000,544000,2953000,1686000,34321,29523,1.24,...,2840,13731,4418,11802,1045,79404,268396,71448,22013,23762
4,R02000,青森県,1221000,1216000,127000,676000,419000,5409,6837,1.38,...,511,2773,735,2345,475,30723,245117,69503,13232,19092

In [163]:
#1
col_21=df.iloc[0].isin(['年度', 2021])
col_21

SSDSE-E-2023    False
Prefecture       True
A1101            True
A1102            True
A1301            True
                ...
J2506           False
L3221            True
L322101          True
L322102          True
L322109          True
Name: 0, Length: 92, dtype: bool

In [123]:
#2
df_21 = df.loc[:, col_21]
df_21.head()

,Prefecture,A1101,A1102,A1301,A1302,A1303,A5101,A5102,B1101,B1103,...,E6102,E6301,E6302,G5105,G7101,G7102,L3221,L322101,L322102,L322109
0,年度,2021,2021,2021,2021,2021,2021,2021,2021,2021,...,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021
1,都道府県,総人口,日本人人口,15歳未満人口,15～64歳人口,65歳以上人口,転入者数（日本人移動者）,転出者数（日本人移動者）,総面積（北方地域及び竹島を除く）,可住地面積,...,大学数,短期大学学生数,大学学生数,一般旅券発行件数,延べ宿泊者数,外国人延べ宿泊者数,消費支出（二人以上の世帯）,食料費（二人以上の世帯）,住居費（二人以上の世帯）,教養娯楽費（二人以上の世帯）
2,全国,125502000,122780000,14784000,74504000,36214000,2242845,2242845,37297137,12295561,...,803,99416,2625688,513943,258876780,3438420,279024,75761,18329,24545
3,北海道,5183000,5147000,544000,2953000,1686000,48832,50979,7842135,2269920,...,37,4069,79729,10839,15812120,46380,268396,71448,22013,23762
4,青森県,1221000,1216000,127000,676000,419000,16169,20396,964562,325317,...,10,950,15419,1519,2788990,13240,245117,69503,13232,19092

In [124]:
#3
new_header = df_21.iloc[1]
df_21 = df_21[2:]
df_21.columns = new_header
df_21.head()

1,都道府県,総人口,日本人人口,15歳未満人口,15～64歳人口,65歳以上人口,転入者数（日本人移動者）,転出者数（日本人移動者）,総面積（北方地域及び竹島を除く）,可住地面積,...,大学数,短期大学学生数,大学学生数,一般旅券発行件数,延べ宿泊者数,外国人延べ宿泊者数,消費支出（二人以上の世帯）,食料費（二人以上の世帯）,住居費（二人以上の世帯）,教養娯楽費（二人以上の世帯）
2,全国,125502000,122780000,14784000,74504000,36214000,2242845,2242845,37297137,12295561,...,803,99416,2625688,513943,258876780,3438420,279024,75761,18329,24545
3,北海道,5183000,5147000,544000,2953000,1686000,48832,50979,7842135,2269920,...,37,4069,79729,10839,15812120,46380,268396,71448,22013,23762
4,青森県,1221000,1216000,127000,676000,419000,16169,20396,964562,325317,...,10,950,15419,1519,2788990,13240,245117,69503,13232,19092
5,岩手県,1196000,1189000,129000,659000,409000,16149,19022,1527501,375137,...,6,726,11340,1515,3660190,11470,272911,73738,17181,22302
6,宮城県,2290000,2269000,264000,1371000,655000,44079,43962,728229,318591,...,14,2701,49580,5053,5631070,35570,284171,75689,19852,24985

In [125]:
#4
df_21=df_21[df_21['都道府県'] !='全国']
df_21.head()

1,都道府県,総人口,日本人人口,15歳未満人口,15～64歳人口,65歳以上人口,転入者数（日本人移動者）,転出者数（日本人移動者）,総面積（北方地域及び竹島を除く）,可住地面積,...,大学数,短期大学学生数,大学学生数,一般旅券発行件数,延べ宿泊者数,外国人延べ宿泊者数,消費支出（二人以上の世帯）,食料費（二人以上の世帯）,住居費（二人以上の世帯）,教養娯楽費（二人以上の世帯）
3,北海道,5183000,5147000,544000,2953000,1686000,48832,50979,7842135,2269920,...,37,4069,79729,10839,15812120,46380,268396,71448,22013,23762
4,青森県,1221000,1216000,127000,676000,419000,16169,20396,964562,325317,...,10,950,15419,1519,2788990,13240,245117,69503,13232,19092
5,岩手県,1196000,1189000,129000,659000,409000,16149,19022,1527501,375137,...,6,726,11340,1515,3660190,11470,272911,73738,17181,22302
6,宮城県,2290000,2269000,264000,1371000,655000,44079,43962,728229,318591,...,14,2701,49580,5053,5631070,35570,284171,75689,19852,24985
7,秋田県,945000,941000,90000,495000,360000,10541,13439,1163752,323329,...,7,577,8904,1034,2195210,4470,247776,72364,10342,21284

In [129]:
#5
df_21[['都道府県','総人口']].sort_values(by='総人口',ascending=False).head(5)

1   都道府県       総人口
15   東京都  14010000
16  神奈川県   9236000
29   大阪府   8806000
25   愛知県   7517000
13   埼玉県   7340000

In [130]:
#6
df_21[['都道府県','総人口']].sort_values(by='総人口',ascending=True).head(5)

1  都道府県     総人口
33  鳥取県  549000
34  島根県  665000
41  高知県  684000
38  徳島県  712000
20  福井県  760000

In [134]:
#7
df_21['高齢化率']=df_21['65歳以上人口']/df_21['総人口']*100

In [136]:
#8
df_21['高齢化率']=df_21['高齢化率'].apply('{:.1f}'.format)
df_21['高齢化率'].head(5)

In [139]:
#9
df_21[['都道府県','総人口','高齢化率']].sort_values(by='高齢化率',ascending=False).head(5)

1  都道府県      総人口  高齢化率
7   秋田県   945000  38.1
41  高知県   684000  35.8
37  山口県  1328000  35.0
38  徳島県   712000  34.7
34  島根県   665000  34.4

In [164]:
#10
df_21['外国人率']=((df_21['総人口']-df_21['日本人人口'])/df_21['総人口'])*100

In [ ]:
#11
df_21['外国人率']=df_21['外国人率'].apply('{:.2f}'.format)

In [165]:
#12
df_21[['都道府県','総人口','外国人率']].sort_values(by='外国人率',ascending=False).head(5)

1  都道府県       総人口  外国人率
15  東京都  14010000  3.93
25  愛知県   7517000  3.41
12  群馬県   1927000  3.17
26  三重県   1756000  2.90
23  岐阜県   1961000  2.75

In [153]:
#13
df_21['エリア'] = df_21['都道府県'].str[-1]

In [156]:
#14
df_21[['総人口','エリア']].groupby('エリア').sum()

1         総人口
エリア
府    11367000
県    94940000
道     5183000
都    14010000

In [162]:
#15
df_21.pivot_table(index=['エリア'],values=['総人口'],aggfunc='sum')

1         総人口
エリア
府    11367000
県    94940000
道     5183000
都    14010000