### 模範解答

In [75]:
import pandas as pd

In [76]:
df = pd.read_excel('./SSDSE-E-2023.xlsx')
df.head()

,SSDSE-E-2023,Prefecture,A1101,A1102,A1301,A1302,A1303,A1700,A4101,A4103,...,I5103,I6100,I6200,I6300,J2503,J2506,L3221,L322101,L322102,L322109
0,NaN,年度,2021,2021,2021,2021,2021,2020,2020,2019,...,2020,2020,2020,2020,2020,2020,2021,2021,2021,2021
1,地域コード,都道府県,総人口,日本人人口,15歳未満人口,15～64歳人口,65歳以上人口,外国人人口,出生数,合計特殊出生率,...,歯科診療所数,医師数,歯科医師数,薬剤師数,保育所等数,保育所等在所児数,消費支出（二人以上の世帯）,食料費（二人以上の世帯）,住居費（二人以上の世帯）,教養娯楽費（二人以上の世帯）
2,R00000,全国,125502000,122780000,14784000,74504000,36214000,2402460,840835,1.36,...,67874,339623,107443,321982,29474,2624335,279024,75761,18329,24545
3,R01000,北海道,5183000,5147000,544000,2953000,1686000,34321,29523,1.24,...,2840,13731,4418,11802,1045,79404,268396,71448,22013,23762
4,R02000,青森県,1221000,1216000,127000,676000,419000,5409,6837,1.38,...,511,2773,735,2345,475,30723,245117,69503,13232,19092

In [77]:
# 1
df = pd.read_excel('SSDSE-E-2023.xlsx', skiprows = 2, index_col=0)
df = df.drop('R00000')
df.head()

,都道府県,総人口,日本人人口,15歳未満人口,15～64歳人口,65歳以上人口,外国人人口,出生数,合計特殊出生率,死亡数,...,歯科診療所数,医師数,歯科医師数,薬剤師数,保育所等数,保育所等在所児数,消費支出（二人以上の世帯）,食料費（二人以上の世帯）,住居費（二人以上の世帯）,教養娯楽費（二人以上の世帯）
地域コード,,,,,,,,,,,,,,,,,,,,,
R01000,北海道,5183000,5147000,544000,2953000,1686000,34321,29523,1.24,65078,...,2840,13731,4418,11802,1045,79404,268396,71448,22013,23762
R02000,青森県,1221000,1216000,127000,676000,419000,5409,6837,1.38,17905,...,511,2773,735,2345,475,30723,245117,69503,13232,19092
R03000,岩手県,1196000,1189000,129000,659000,409000,6937,6718,1.35,17204,...,566,2700,1016,2536,390,28895,272911,73738,17181,22302
R04000,宮城県,2290000,2269000,264000,1371000,655000,19453,14480,1.23,24632,...,1052,5950,1896,5502,492,39497,284171,75689,19852,24985
R05000,秋田県,945000,941000,90000,495000,360000,3651,4499,1.33,15379,...,426,2444,619,2066,272,22621,247776,72364,10342,21284

In [78]:
# 2
list(df)
# type(list(df))
df.columns
# type(df.columns)
df.columns.get_loc('図書館数')

57

In [79]:
# 3
c01 = df.columns.get_loc('都道府県')
c02 = df.columns.get_loc('小学校児童数')
c03 = df.columns.get_loc('図書館数')
df01 = df.iloc[:, [c01,c02,c03]]
# df01.set_index(df01.columns[0] ,inplace = True)
df01.head()

       都道府県  小学校児童数  図書館数
地域コード
R01000  北海道  231714   152
R02000  青森県   54460    35
R03000  岩手県   55597    47
R04000  宮城県  112246    35
R05000  秋田県   38992    48

In [80]:
# 4
sg = df01['小学校児童数']
lib = df01['図書館数']
df01['図書館１つ当たりの児童数'] = round(sg/lib).astype(int)
df01 = df01.sort_values('図書館１つ当たりの児童数', ascending = False)
df01.head()

/var/folders/tm/9tvw4bmx5bq10yv3c41x5whh0000gn/T/ipykernel_1394/4286054199.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01['図書館１つ当たりの児童数'] = round(sg/lib).astype(int)

        都道府県  小学校児童数  図書館数  図書館１つ当たりの児童数
地域コード
R14000  神奈川県  451098    85          5307
R23000   愛知県  405839    98          4141
R04000   宮城県  112246    35          3207
R27000   大阪府  422433   147          2874
R28000   兵庫県  278500   107          2603

In [81]:
# 5
df02_0 = df.copy()
df02_1 = df02_0['都道府県']

# 「従業者数（民営）」を含むカラム名で抽出
columns_working = [column for column in df.columns if '従業者数（民営）' in column]
df02_2 = df.loc[:,columns_working]

# 結合
df02 = pd.merge(df02_1, df02_2, on='地域コード')
df02.head()

,都道府県,従業者数（民営）,従業者数（民営）（建設業）,従業者数（民営）（製造業）,従業者数（民営）（情報通信業）,従業者数（民営）（卸売業，小売業）,従業者数（民営）（宿泊業，飲食サービス業）,従業者数（民営）（生活関連サービス業，娯楽業）,従業者数（民営）（医療，福祉）
地域コード,,,,,,,,,
R01000,北海道,2165925,182143,195081,37312,472228,211758,101190,323580
R02000,青森県,498988,50820,60824,5240,112419,41516,24501,74147
R03000,岩手県,525264,50849,90657,5762,108508,42697,22981,71471
R04000,宮城県,1006886,99631,120120,19772,225169,89667,41584,119085
R05000,秋田県,413719,40329,67198,3737,86407,33576,18790,66049

In [82]:
# 6
for i in columns_working[1:]:
    df02[i] = df02[i] / df02_2[columns_working[0]]
    
df02 = df02.sort_values('従業者数（民営）（宿泊業，飲食サービス業）', ascending=False)
df02[columns_working[1:]] = df02[columns_working[1:]].applymap(lambda x : '{:.2%}'.format(x))
df02.head(10)

,都道府県,従業者数（民営）,従業者数（民営）（建設業）,従業者数（民営）（製造業）,従業者数（民営）（情報通信業）,従業者数（民営）（卸売業，小売業）,従業者数（民営）（宿泊業，飲食サービス業）,従業者数（民営）（生活関連サービス業，娯楽業）,従業者数（民営）（医療，福祉）
地域コード,,,,,,,,,
R47000,沖縄県,553619,7.23%,5.98%,2.20%,21.29%,13.24%,4.93%,16.95%
R19000,山梨県,366320,7.07%,21.13%,1.13%,19.48%,11.54%,4.89%,12.12%
R26000,京都府,1137370,4.43%,16.08%,1.28%,21.74%,11.04%,4.05%,14.35%
R39000,高知県,279196,7.83%,10.23%,1.13%,22.50%,10.94%,4.63%,19.34%
R20000,長野県,928421,7.22%,22.50%,1.26%,19.27%,10.44%,4.11%,12.75%
R14000,神奈川県,3464316,5.75%,12.80%,3.53%,19.57%,10.36%,4.34%,14.29%
R28000,兵庫県,2203102,5.00%,18.35%,1.01%,20.40%,10.36%,4.39%,14.59%
R12000,千葉県,2114259,6.81%,11.38%,1.36%,20.96%,10.34%,6.24%,13.83%
R29000,奈良県,434135,4.99%,16.01%,0.51%,21.29%,10.20%,5.17%,18.56%
R17000,石川県,541030,7.14%,19.79%,2.04%,20.60%,9.89%,4.10%,11.94%

In [83]:
# 7
c01 = df.columns.get_loc('都道府県')
c04 = df.columns.get_loc('総人口')
c05 = df.columns.get_loc('出生数')
c06 = df.columns.get_loc('死亡数')
c07 = df.columns.get_loc('転入者数（日本人移動者）')
c08 = df.columns.get_loc('転出者数（日本人移動者）')
df03 = df.iloc[:, [c01,c04,c05,c06,c07,c08]]
df03.head()

       都道府県      総人口    出生数    死亡数  転入者数（日本人移動者）  転出者数（日本人移動者）
地域コード
R01000  北海道  5183000  29523  65078         48832         50979
R02000  青森県  1221000   6837  17905         16169         20396
R03000  岩手県  1196000   6718  17204         16149         19022
R04000  宮城県  2290000  14480  24632         44079         43962
R05000  秋田県   945000   4499  15379         10541         13439

In [84]:
# 8
df03_1 = df03[df03['転入者数（日本人移動者）'] > df03['転出者数（日本人移動者）']]
list(df03_1['都道府県'])

['宮城県', '茨城県', '埼玉県', '千葉県', '東京都', '神奈川県', '山梨県', '滋賀県', '大阪府', '福岡県', '沖縄県']

In [85]:
# 9
df03['増減数'] = df03['出生数'] + df03['転入者数（日本人移動者）'] - df03['死亡数'] - df03['転出者数（日本人移動者）']
df03.head()

/var/folders/tm/9tvw4bmx5bq10yv3c41x5whh0000gn/T/ipykernel_1394/1992978848.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03['増減数'] = df03['出生数'] + df03['転入者数（日本人移動者）'] - df03['死亡数'] - df03['転出者数（日本人移動者）']

       都道府県      総人口    出生数    死亡数  転入者数（日本人移動者）  転出者数（日本人移動者）    増減数
地域コード
R01000  北海道  5183000  29523  65078         48832         50979 -37702
R02000  青森県  1221000   6837  17905         16169         20396 -15295
R03000  岩手県  1196000   6718  17204         16149         19022 -13359
R04000  宮城県  2290000  14480  24632         44079         43962 -10035
R05000  秋田県   945000   4499  15379         10541         13439 -13778

In [86]:
# 10
df03_2 = df03.copy()

df03_2['ランク分け'] = ''
for i, row in enumerate(df03_2.itertuples()):
    if row[7]/row[2] > 0:
        df03_2.iloc[i,7] = 'A'
    elif row[7]/row[2] > -0.005:
        df03_2.iloc[i,7] = 'B'
    elif row[7]/row[2] > -0.01:
        df03_2.iloc[i,7] = 'C'
    else:
        df03_2.iloc[i,7] = 'D'
df03_2.sort_values('ランク分け')
df03_2.head()

       都道府県      総人口    出生数    死亡数  転入者数（日本人移動者）  転出者数（日本人移動者）    増減数 ランク分け
地域コード
R01000  北海道  5183000  29523  65078         48832         50979 -37702     C
R02000  青森県  1221000   6837  17905         16169         20396 -15295     D
R03000  岩手県  1196000   6718  17204         16149         19022 -13359     D
R04000  宮城県  2290000  14480  24632         44079         43962 -10035     B
R05000  秋田県   945000   4499  15379         10541         13439 -13778     D

In [87]:
# 11
df03_3 = df03.copy()
df03_3.insert(0,'地方','')
area = ['北海道東北','関東','北陸','中部','近畿','中郷四国','九州沖縄']
df03_3.iloc[0:7, 0] = area[0]
df03_3.iloc[7:14, 0] = area[1]
df03_3.iloc[14:18, 0] = area[2]
df03_3.iloc[18:24, 0] = area[3]
df03_3.iloc[24:30, 0] = area[4]
df03_3.iloc[30:39, 0] = area[5]
df03_3.iloc[39:, 0] = area[6]
df03_3[['地方','増減数']].groupby('地方').mean().round(0).astype(int).reindex(index=area)

         増減数
地方
北海道東北 -17340
関東     -6872
北陸    -10707
中部    -14764
近畿    -14256
中郷四国   -9472
九州沖縄   -7411